body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.text-blanco{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: white;
}
.text-producto{
    color: white;
}

.productos{
    background-color: rgba(61, 61, 178, 0.482);
    padding: 5px 5px 5px 5px;
    width: 25%;
    border-radius: 5px;
}
.categoria{
    background-color: gray;
    padding: 5px 5px 5px 5px;
    width: 25%;
    border-radius: 5px;
}
.btn-carrito {
   background-color: rgb(5,122,193);
   color: white;
    padding: 5px 5px 5px 5px;
    width: 90%;
    border-radius: 5px;
    border-color: green;
}

.btn-carrito:hover {
    background-color: #e64a19;
}
.hero {
    width: 100%;  /* Mantiene el ancho natural */
    height: 300px; /* Ajusta la altura como prefieras */
    display: block;
    margin: 10 auto;
}
.alinear-derecha {
    text-align: right;
}

.alinear-centro {
    text-align: center;
}
.alinear-izquierda {
    text-align: left;
}
nav {
    display: flex; /* Hace que los elementos se acomoden en una fila */
    justify-content: space-between; /* Espaciado entre cada grupo */
    gap: 20px; /* Espacio entre cada categoría */
}